.month-day {
  position: sticky;
  top: 4px;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
}

.month-day__title {
  position: relative;
  text-align: center;
  vertical-align: center;
  padding: 0 8px;
  border-radius: 10px;
  background-color: var(--background-primary);
}

.header {
  position: relative;
}

.header__abbr {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 4rem;
}

.header__title {
  padding-left: 3rem;
  padding-right: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.message {
  padding-left: 3rem;
  width: 100%;
}

.header__time {
  font-size: 0.7rem;
}

.error {
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  padding: 20px 30px;
  color: #cc0033;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 1px 1px rgba(250, 250, 250, 0.3);
}
